@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

a {
  color: #fff !important;
}
a:hover {
  color: #fff !important;
}
h1 {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  padding:1em;
  font-weight: 600;
}
.splash_link {
  font-weight: 300;
  text-decoration: none;
  color:red !important;
}
.splash_link:hover {
  text-decoration: underline;
  color: red !important;
}
h1 span {
	font-size: 0.3em;
	display: block;
	padding: 1em;
}
