  html,
  body {
    background-color: rgb(162, 66, 85);
  }

  div.centercontainer {
    height: 10em;
    position: relative
  }

  div.centercontainer .centerthis {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .ilt {
    font-family: "Arial", sans-serif;
    color: white;
    text-align: center;
    padding-top: 85px;
  }

  .iltsmall {
    font-family: "Arial", sans-serif;
    font-size: 1em;
    color: white;
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .lds-ripple div {
    position: absolute;
    border: 4px solid #dfc;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }

  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }

    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
