<!DOCTYPE html>
<html lang="en">
  <head>
    <title>alpha | gcanalytics | The Canadian government's web traffic (alpha).</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="{{url_for('static', filename='gca-dashboard/images/favicon.ico')}}" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="{{url_for('static', filename='gca-dashboard/css/public_analytics.css')}}">

    <!--[if lte IE 9]>
    <script src="js/vendor/aight.v2.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <header id="splash_header">
      <div class="header_container">
        <h1><a href="{{url_for('gca-dashboard.render_dash')}}"><strong>alpha</strong></a> | gcanalytics</h1>
      </div>
      <div id="color_bar"></div>
    </header>

    <div class="get_involved">

        <h1>Let's do this together - we need your data</h1>

        <p>
          The hard part isn't the dashboard. The hard part is an organizational challenge. We need to standardize on one analytics platform across the board and get each page setup with the appropriate trackers. If we can do that, we will have one complete singular picture of how Canadians access government content. With that... <strong>the potential is big</strong>. Organize content by what actually is needed. Provide quick suggestions for related items. Tailor content to regional needs. With the right data you can move mountains.
        </p>

        <p>
          Here's how we are hoping the process will look:
        </p>

        <ul>
          <li>
            A digital strategy lead will identify a point of contact (POC) who will manage their web analytics account.
          </li>
          <li>
            Groups will work together to register their sites and work with them to implement the common page tag code.
          </li>
          <li>
            We will also need to come up with a plan for implementation support, access to training, and other resources to POCs.
          </li>
        </ul>

        <p>
          Let's disrupt government web analytics in a good way. The more we know about how Canadians are using the content, the better we can serve them. Get in touch with CSPS Digital Academy today.
        </p>
        <p>
          You can also check out our <a href="https://github.com/CSPS-EFPC-DAAN">GitHub profile for more goodies</a>
        </p>

    </div>
  </body>
</html>
