<!DOCTYPE html>
<!-- test locally with python -m http.server-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="stylesheet" href="{{url_for('static', filename='gca-dashboard/css/public_analytics.css'}}">

    <!-- <meta name="twitter:site" content="@usgsa"> -->
    <!-- <meta name="twitter:creator" content="@usgsa"> -->
    <meta property="og:type" content="website" />

    <!-- <meta property="og:url" content="https://analytics.usa.gov" />  -->
    <!-- <link rel="canonical" href="https://analytics.usa.gov" />  -->

    <title>gcanalytics | The Canadian government's web traffic (alpha).</title>
    <!-- <meta property="og:title" content="analytics.usa.gov | The US government's web traffic." /> -->
    <!-- <meta property="og:site_name" content="analytics.usa.gov | The US government's web traffic." /> -->

    <meta name="description" content="Data on web traffic to Canadian federal government websites. CSPS DIS Team.">
    <!-- <meta property="og:description" content="Official data on web traffic to Canadian federal government websites. Published by CSPS DIS" />-->

    <!-- <meta name="twitter:card" content="summary_large_image"> -->
    <!-- <meta property="og:image" content="https://analytics.usa.gov/images/share-image.png" /> -->

    <!-- 
    To generate image or pdf of the dashboard from the shell you can do the following:
    wkhtmltopdf -s "Letter" -O "Portrait" http://localhost:8000/gcanalytics/gca-dashboard/ gcanalytics.pdf
    wkhtmltoimage http://localhost:8000/gcanalytics/gca-dashboard/ gcanalytics.png

    Online readme.md quick view https://dillinger.io/
    -->

    <!--[if lte IE 9]>
    <script src="js/vendor/aight.v2.min.js"></script>
    <![endif]-->
    <script src="{{url_for('static', filename='gca-dashboard/js/vendor/d3.v3.min.js'}}"></script>
    <script src="{{url_for('static', filename='gca-dashboard/js/vendor/q.min.js'}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <header id="splash_header">
      <div class="header_container">
        <h1>gcanalytics | <a href="http://www.canada.ca">canada.ca</a></h1>
        <div id="about">
          <a id="sourcedfrom" href="https://www.canada.ca/en/analytics.html">Visit current analytics page</a> |
          <a id="aboutlink" href="#explanation">About this site</a>
        </div>
      </div>
      <div id="color_bar"></div>
    </header>

    <div class="container">
      <!--
      JavaScript block hooks look for any element with both data-block and
      data-source attributes:

      <section data-block="users" data-source="path/to/data.json">
        The "loading", "loaded", and "error" classes are set on this element
        the data-source URL is loaded. Then the renderer is called on the first
        child of the block with the "data" class:

        <div class="data">
        </div>

        Some renderers expect to be called on HTML tables, in which
        case you would use:

        <table class="data">
        </table>

      </section>
      -->
      <!--- data-source="http://localhost:8000/gcanalytics/gca-dashboard/data/can-live/snapshot.json"
        --->
      <section id="snapshot" class="one_column"
        data-block="snapshot"
        data-source="{{url_for('static', filename='data/can-live/snapshot.json')}}"
        data-refresh="15">
        <h2 id="current_visitors" class="data">...</h2>
        <div class="chart_subtitle">visits to Government of Canada websites</div>
      </section>

      <div id="main_data">

        <section class="section_headline">
          <h3>Visits in the last 30 days</h3>
        </section>
        <section id="time_series"
          data-block="visits"
          data-source="{{url_for('static', filename='data/can-live/visits.json')}}"
          data-refresh="60">
          <svg class="data time-series">
          </svg>
        </section>

        <section class="section_headline">
          <h4>What visitors are <strong>interested in the most</strong></h4>
        </section>

        <section class="section_headline">
          <h3>Sections</h3>
        </section>
        <section id="sections-en" class="two_column">
        <figure class="top-pages" id="sections-en" role="tabpanel"
          data-block="sections-en"
          data-source="{{url_for('static', filename='data/can-live/sections-en.json')}}"        
          data-refresh="15">
          <h5><strong>English Sections</strong><br/>
          <em>Most viewed English sections</em></h5>
          <div class="data bar-chart">
          </div>
        </figure>
        </section>
        <section id="sections-fr" class="two_column">
          <figure class="top-pages" id="sections-fr" role="tabpanel"
            data-block="sections-fr"
            data-source="{{url_for('static', filename='data/can-live/sections-fr.json')}}"
            data-refresh="15">
            <h5><strong>French Sections</strong><br/>
            <em>Most viewed French sections</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>


        <section class="section_headline">
          <h3>Departments</h3>
        </section>
        <section id="departments-en" class="two_column">
        <figure class="top-pages" id="departments-en" role="tabpanel"
          data-block="departments-en"
          data-source="{{url_for('static', filename='data/can-live/departments-en.json')}}"
          data-refresh="15">
          <h5><strong>English department content</strong><br/>
          <em>Most viewed English department</em></h5>
          <div class="data bar-chart">
          </div>
        </figure>
        </section>
        <section id="departments-fr" class="two_column">
          <figure class="top-pages" id="departments-fr" role="tabpanel"
            data-block="departments-fr"
            data-source="{{url_for('static', filename='data/can-live/departments-fr.json')}}"
            data-refresh="15">
            <h5><strong>French department content</strong><br/>
            <em>Most viewed French department</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <section class="section_headline">
          <h3>Pages</h3>
        </section>
        <section id="pages-en" class="two_column">
        <figure class="top-pages" id="pages-en" role="tabpanel"
          data-block="pages-en"
          data-source="{{url_for('static', filename='data/can-live/pages-en.json')}}"
          data-refresh="15">
          <h5><strong>English Pages</strong><br/>
          <em>Most viewed English pages</em></h5>
          <div class="data bar-chart">
          </div>
        </figure>
        </section>
        <section id="pages-fr" class="two_column">
          <figure class="top-pages" id="pages-fr" role="tabpanel"
            data-block="pages-fr"
            data-source="{{url_for('static', filename='data/can-live/pages-fr.json')}}"
            data-refresh="15">
            <h5><strong>French Pages</strong><br/>
            <em>Most viewed French pages</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <section class="section_headline">
          <h3>News</h3>
        </section>
        <section id="news-en" class="two_column">
          <figure class="top-pages" id="news-en" role="tabpanel"
            data-block="news-en"
            data-source="{{url_for('static', filename='data/can-live/news-en.json')}}"
            data-refresh="15">
            <h5><strong>English News</strong><br/>
            <em>Most viewed English news articles</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>
        <section id="news-fr" class="two_column">
          <figure class="top-pages" id="news-fr" role="tabpanel"
            data-block="news-fr"
            data-source="{{url_for('static', filename='data/can-live/news-fr.json')}}"
            data-refresh="15">
            <h5><strong>French News</strong><br/>
            <em>Most viewed French news articles</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <section class="section_headline">
          <h3>Downloads</h3>
        </section>
        <section id="downloads-en" class="two_column">
          <figure class="top-pages" id="downloads-en" role="tabpanel"
            data-block="downloads-en"
            data-source="{{url_for('static', filename='data/can-live/downloads-en.json')}}"
            data-refresh="15">
            <h5><strong>English Downloads</strong><br/>
            <em>Most downloaded English assets</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>
        <section id="downloads-fr" class="two_column">
          <figure class="top-pages" id="downloads-fr" role="tabpanel"
            data-block="downloads-fr"
            data-source="{{url_for('static', filename='data/can-live/downloads-fr.json')}}"
            data-refresh="15">
            <h5><strong>French Downloads</strong><br/>
            <em>Most downloaded French assets</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>
        

        <section class="section_headline">
          <h3>Videos</h3>
        </section>
        <section id="videos-en" class="two_column">
          <figure class="top-pages" id="videos-en" role="tabpanel"
            data-block="videos-en"
            data-source="{{url_for('static', filename='data/can-live/videos-en.json')}}"
            data-refresh="15">
            <h5><strong>English Videos</strong><br/>
            <em>Most played English videos</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>
        <section id="videos-fr" class="two_column">
          <figure class="top-pages" id="videos-fr" role="tabpanel"
            data-block="downloads-fr"
            data-source="{{url_for('static', filename='data/can-live/videos-fr.json')}}"
            data-refresh="15">
            <h5><strong>French Videos</strong><br/>
            <em>Most played French videos</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>
      </div>

      <div id="secondary_data">
        <section id="pageviews" class="two_column"
          data-block="pageviews"
          data-source="{{url_for('static', filename='data/can-live/pageviews.json')}}"
          data-refresh="15">
          <h3 id="current_visitors_pv" class="data">...</h3>
          <div class="chart_subtitle">Pages Viewed</div>
        </section>

        <section id="mobileusers" class="two_column"
          data-block="mobileusers"
          data-source="{{url_for('static', filename='data/can-live/mobileusers.json')}}"
          data-refresh="15">
          <h3 id="current_visitors_mu" class="data">...</h3>
          <div class="chart_subtitle">Mobile Users</div>
        </section>

        <section id="secondary_data_intro">
          <h3>Visitor Locations</h3>
          <h5><em>These charts provide a quick snapshot of where Canadians (and others!) are visiting from.</em></h5> 
        </section>
        <section id="top_100_table">

          <ul class="pills" role="tablist">
            <li><a role="tab" aria-selected="true" href="#visitor-location-city">By City</a></li>
            <li><a role="tab" href="#visitor-location-region">By Region</a></li>
            <li><a role="tab" href="#visitor-location-country">By Country</a></li>
          </ul>
        
          <!-- see: http://heydonworks.com/practical_aria_examples/ -->

          <figure class="top-pages" id="visitor-location-city" role="tabpanel"
            data-block="visitor-location-city"
            data-source="{{url_for('static', filename='data/can-live/visitor-location-city.json')}}"
            data-refresh="15">
            <h5><strong>By City</strong><br/>
            <em>Visitor data by city</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>

          <figure class="top-pages" id="visitor-location-region" role="tabpanel"
            data-block="visitor-location-region"
            data-source="{{url_for('static', filename='data/can-live/visitor-location-region.json')}}"
            data-refresh="15"
            <h5><strong>By Region</strong><br/>
            <em>Visitor data by region</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>

          <figure class="top-pages" id="visitor-location-country" role="tabpanel"
            data-block="visitor-location-country"
            data-source="{{url_for('static', filename='data/can-live/visitor-location-country.json')}}"
            data-refresh="15">
            <h5><strong>By Country</strong><br/>
              <em>Visitor data by country</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>
          
        </section>
      </div>

      <section id="data_download">
        <h3>Download the data</h3>

        <p>
          You can download the data that powers the charts, in JSON format, from the links below.
        </p>

        <ul>
          <li><a href="{{url_for('static', filename='data/can-live/departments-en.json}}">Departments (English)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/departments-fr.json}}">Departments (French)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/downloads-en.json}}">Downloads (English)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/downloads-fr.json}}">Downloads (French)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/mobileusers.json}}">Mobile users metric</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/news-en.json}}">News (English)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/news-fr.json}}">News (French)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/pages-en.json}}">Pages (English)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/pages-fr.json}}">Pages (French)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/pageviews.json}}">Page view metric</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/sections-en.json}}">Sections (English)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/sections-fr.json}}">Sections (French)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/snapshot.json}}">Visits metric</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/videos-en.json}}">Videos (English)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/videos-fr.json}}">Videos (French)</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/visitor-location-city.json}}">Visitors by City</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/visitor-location-country.json}}">Visitors by Country</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/visitor-location-region.json}}">Visitors by Region</a></li>
          <li><a href="{{url_for('static', filename='data/can-live/visits.json}}">Visits in the last 30 days</a></li>
        </ul>
        <h3>Websites included in this data</h3>
        <p>
          Not every Government of Canada website is represented in this data. The data includes web traffic from the following websites that use the Government of Canada’s web analytics tool: 
        </p>
        <ul>
          <li><a href="http://canada.ca">Canada.ca</a></li>
          <li><a href="http://agr.gc.ca/eng/home/?id=1395690825741">Agriculture and Agri-Food Canada</a></li>
          <li><a href="http://elections.ca/home.aspx">Elections Canada</a></li>
          <li><a href="https://www.statcan.gc.ca/eng/start">Statistics Canada</a></li>
          <li><a href="https://www1.canada.ca/en/sst/">Social Security Tribunal of Canada</a></li>
          <li><a href="http://canada.ca/en/employment-social-development/services/my-account.html">My Service Canada Account</a></li>
          <li><a href="http://www.canadabenefits.gc.ca/f.1.2c.6.3z.1rdq.5.2st.3.4ns@.jsp?lang=en">Benefits Finder</a></li>
          <li><a href="https://www.ceaa-acee.gc.ca/050/evaluations/?culture=en-CA">Canadian Environmental Assessment Registry</a></li>
          <li><a href="https://www.equalby30.org/en">Equal by 30</a></li>
        </ul>
      </section>

      <section id="explanation">
        <h3>About this site</h3>
        <p>
          This data is collected from the existing <a href="https://www.canada.ca/en/analytics.html">https://www.canada.ca/en/analytics.html</a>, and reshaped into JSON data by a small python html extractor which can be used by the dashboard code built by 18F for the analytics.usa.gov site. We used this as a starting point for our own d3 based web analytics reports. The data shown here is for example purposes only. The data doesn't have all the websites we need included, but it does have enough data to show what it can do. Thanks to all our friends both sides of the border. Open source inspires innovation!
        </p>
        <p>This site is an alpha experiment by <strong>CSPS.DIS</strong></p>
      </section>

      <section class="three_column">
        <h3>How we make it better</h3>
        <p>
          This data is one a small part of our web traffic. We need more trackers on more pages to make the data better! So if you are up to it <a href="{{url_for('gca-dashboard.get-involved'}}">get involved</a>. We want to get one amazing dataset and dashboard so we can give Canadians the content they want.
        </p>
      </section>
    </div>
  </body>


  <!--
    IE detection, used to guide console formatting in subsequent include
  -->
  <script type="text/javascript">window._ie9 = false;</script>

  <!--[if IE 9 ]>
    <script type="text/javascript">window._ie9 = true;</script>
  <![endif]-->

  <!--
   IE10 JS targeting: http://stackoverflow.com/a/17099988
   IE11 JS targeting: http://stackoverflow.com/a/17447695
  -->
  <script type="text/javascript">
    window._ie10 = ("onpropertychange" in document && !!window.matchMedia);
    window._ie11 = !!navigator.userAgent.match(/Trident\/7.0; rv 11/);
    window._ie = window._ie9 || window._ie10 || window._ie11;
  </script>

  <script src="{{url_for('static', filename='gca-dashboard/js/index.js}}"></script>

  <!-- This is all it takes to report an agency's traffic to the DAP. -->
  <!-- <script id="_fed_an_ua_tag" src="https://analytics.usa.gov/dap/dap.min.js"></script>-->
</html>
